<%=
    ReactPhoenix.ClientSide.react_component(
        "Components.WrappedShowPlans",
        %{
            guard: @guard,
            plans: available_plans(@guard),
            shop_url: shop_url(@conn),
            redirect_after: @redirect_after,
            shopify_api_key: Application.get_env(:shopifex, :api_key),
            session_token: Shopifex.Plug.session_token(@conn)
        }
    )
%>
