<div id="root"></div>

<script>
document.addEventListener("DOMContentLoaded", e => {
    window.WrappedRedirect(
        {
            redirect_location: "<%= raw(@redirect_location) %>",
            shopify_host: "<%= Shopifex.Plug.current_shopify_host(@conn) %>",
            shopify_api_key: "<%= Application.get_env(:shopifex, :api_key) %>",
            message: "<%= @message %>"
        }
    )
})
</script>
