<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= Application.fetch_env!(:shopifex, :app_name) %></title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/@shopify/polaris@4.22.0/styles.min.css"
    />
    <link rel="stylesheet" href="<%= Application.get_env(:shopifex, :path_prefix, "") %>/shopifex-assets/css/app.css"/>
    <script defer type="text/javascript" src="<%= Application.get_env(:shopifex, :path_prefix, "") %>/shopifex-assets/js/app.js"></script>
    <%= Phoenix.HTML.Tag.csrf_meta_tag() %>
  </head>
  <body>
    <%= @inner_content %>
  </body>
</html>
