<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= Application.fetch_env!(:shopifex, :app_name) %></title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/@shopify/polaris@4.22.0/styles.min.css"
    />
  </head>
  <body>
    <%= @inner_content %>
  </body>
</html>
