<h1>Show Plan</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @plan.name %>
  </li>

  <li>
    <strong>Price:</strong>
    <%= @plan.price %>
  </li>

  <li>
    <strong>Features:</strong>
    <%= @plan.features %>
  </li>

  <li>
    <strong>Grants:</strong>
    <%= @plan.grants %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.plan_path(@conn, :edit, @plan) %></span>
<span><%= link "Back", to: Routes.plan_path(@conn, :index) %></span>
